<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="static/css-table-16/css-table-16/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="static/css-table-16/css-table-16/css/owl.carousel.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css-table-16/css-table-16/css/bootstrap.min.css" />

    <!-- Style -->
    <link rel="stylesheet" href="static/css-table-16/css-table-16/css/style.css" />
  </head>
  <body>
    <div class="content">
      <div class="container">
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Name</th>
                <th scope="col">Occupation</th>
                <th scope="col">Contact</th>
                <th scope="col">Education</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr scope="row">
                <td>1392</td>
                <td><a href="#">James Yates</a></td>
                <td>
                  Web Designer
                  <small class="d-block"
                    >Far far away, behind the word mountains</small
                  >
                </td>
                <td>+63 983 0962 971</td>
                <td>NY University</td>
                <td><a href="#" class="more">Details</a></td>
                <td></td>
              </tr>

              <tr>
                <td>4616</td>
                <td><a href="#">Matthew Wasil</a></td>
                <td>
                  Graphic Designer
                  <small class="d-block"
                    >Far far away, behind the word mountains</small
                  >
                </td>
                <td>+02 020 3994 929</td>
                <td>London College</td>
                <td><a href="#" class="more">Details</a></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="static/css-table-16/css-table-16/js/jquery-3.3.1.min.js"></script>
    <script src="static/css-table-16/css-table-16/js/popper.min.js"></script>
    <script src="static/css-table-16/css-table-16/js/bootstrap.min.js"></script>
    <script src="static/css-table-16/css-table-16/js/main.js"></script>
  </body>
</html>
